<div class="container">
  <h2>Current Campaigns</h2>

  <div class="row">
    <% if @current_campaigns_count == 0 %>
      <div class="no-campaigns text-center">
        <p><strong>There are no active campaigns currently running</strong></p>
      </div>
    <% else %>
      <%= render @current_campaigns %>

      <% if @current_campaigns_count > 3 %>
        <div class="col-md-11 text-right" >
          <%= link_to "See all #{@current_campaigns_count} open campaigns", campaigns_path %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="funded-campaigns">
    <h2 class="funded-header">Funded Campaigns</h2>

    <div class="row">
      <% if @funded_campaigns_count == 0 %>
        <div class="no-campaigns text-center">
          <p><strong>There are no funded campaigns</strong></p>
        </div>
      <% else %>
        <%= render @funded_campaigns %>

        <% if @funded_campaigns_count > 3 %>
          <div class="col-md-11 text-right" >
            <%= link_to "See all #{@funded_campaigns_count} funded campaigns", funded_campaigns_path %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>