<h2>Current Campaigns</h2>

<div class="row">
  <%= render @campaigns %>

  <div class="col-md-11 text-right" >
    <%= link_to "See all #{@campaigns_count} open campaigns", campaigns_path %>
  </div>
</div>
