<div class="container">
  <%= render partial: 'campaigns', locals: { campaigns: @current_campaigns, type: 'current', see_all_path: campaigns_path, count: @current_campaigns_count } %>

  <%= render partial: 'campaigns', locals: { campaigns: @funded_campaigns, type: 'funded', see_all_path: funded_campaigns_path, count: @funded_campaigns_count } %>
</div>