<div class="container">
  <div class="restricted text-center">
    <p>If you're seeing this page, then you're trying to access a resource you're not authorized to.</p>

    <%= link_to(user_omniauth_authorize_path(:google_oauth2)) do %>
      <span class="btn btn-social btn-google-plus g-btn"><i class="fa fa-google-plus"></i>Please Login to continue</span>
    <% end %>
  </div>
</div>