<div class="container">
  <%= link_to(user_omniauth_authorize_path(:google_oauth2)) do %>
    <span class="btn btn-block btn-social btn-lg btn-google-plus g-btn"><i class="fa fa-google-plus"></i>Login in with Google</span>
  <% end %>
</div>