<table class="table table-bordered">
  <tr>
    <th>Title</th>
    <th>Amount Needed</th>
    <th>Created</th>
    <th>Funding Deadline</th>
  </tr>
  <% @campaigns.each do |campaign| %>
    <tr>
      <td><%= link_to campaign.title, campaign %></td>
      <td><%= campaign.needed %></td>
      <td><%= formatted_date(campaign.created_at) %></td>
      <td><%= campaign.deadline %></td>
    </tr>
  <% end %>
</table>