<table class="table table-bordered">
   <tr>
     <th>Date</th>
     <th>Recipient</th>
     <th>Amount</th>
     <th>Reason</th>
   </tr>
   <% @history.each do |distribution| %>
      <tr>
       <td><%= distribution.formatted_date %></td>
       <td><%= distribution.user.name %></td>
       <td><%= distribution.amount %></td>
       <td><%= distribution.description %></td>
     </tr>
     <% end %>
  </table>