<div class="container">
  <div class="container">
    <h2><%= type %> Campaigns</h2>

    <div class="campaigns_list">
      <%= render @campaigns %>
    </div>
    <div class="col-md-6 col-md-offset-5">
      <%= paginate @campaigns %>
    </div>
  </div>
</div>