html {
  height: 100%;
}

body {
  height: 100%;
}

.img-portfolio {
  margin-bottom: 30px;
}

#img-preview img {
  max-width: 100%;
}

header.carousel {
  height: 85%;
  margin-bottom: 5px;
  .item {
    height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }
  .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}

.img-hover:hover {
  opacity: 0.8;
}

.navbar.navbar,
.navbar-default.navbar {
  background-color: #000000;
  opacity: .8;
}

.navbar.navbar,
.navbar-default.navbar
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  color: #006e15;
}

.navbar-custom .nav li a:hover {
  color: #00f729;
}


@media(max-width:991px) {
  .customer-img {
    margin-bottom: 30px;
  }
  .img-related {
    margin-bottom: 30px;
  }
}
@media(max-width:767px) {
  body {
    padding-top: 60px;
  }

  .img-portfolio {
    margin-bottom: 15px;
  }
  header.carousel .carousel {
    height: 70%;
  }
}

@media(min-width:768px) {
  body {
    padding-top: 80px;
  }

  .navbar .navbar-nav > li > a{
    padding-top: 15px;
  }

  .navbar.navbar,
  .navbar-default.navbar
  .navbar-custom .nav li a:focus,
  .navbar-custom .nav li a:active {
    background-color: #dfdfdf;
  }

  .navbar-custom {
    padding: 10px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-collapse {
    font-size: .9em;
    padding: 0;
    color: #00901c;
    background: #000;
    opacity: .85;
  }
}