@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-social";

body {
  background: #fff;
  line-height: 1.5;
  color: #333;
}

.alert,
.alert-js {
  font-size: 1.12em;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.alert {
  background: #FCF2F3;
  border-radius: .5em;
  border: 1px solid #730E15;
}

.ra-success {
  color: #00B825;
}

.ra-error {
  color: #ff0000;
}

.g-btn {
  max-width: 80%;
  margin: 20px auto;
  text-decoration: none;
}

.navbar {
  border-bottom: 6px solid #730E15;
}

.nav-head {
  font-size: 1.5em;
}

.nav-link {
  text-decoration: underline;
}

h1 {
  margin-bottom: 40px;
}

/* NEW CAMPAIGN FORM */

.form-horizontal {
  line-height: 1.2;
}

.text-field,
.text-area {
  margin-bottom: .5em;
  outline: 0;
  border: 1px solid #999;
}

.text-field:active,
.text-area:active,
.text-field:focus,
.text-area:focus {
  outline: 0;
  border: 1px solid #000;
  background-color: #F7F7F7;
}

.text-field:hover,
.text-area:hover {
  border: 1px solid #730E15;
}

.text-area {
  min-height: 300px;
  margin-bottom: 1em;
  resize: vertical;
}

.submit-button {
  font-size: 1.5em;
  padding: .6em;
  margin-top: 30px;
}

.submit-button:hover {
  -webkit-box-shadow: 0 0 0 .05em #730E15;
  -moz-box-shadow: 0 0 0 .05em #730E15;
  box-shadow: 0 0 0 .05em #730E15;
}

.delete-button {
  font-size: 1.5em;
  padding: .6em;
  margin-top: 30px;
}

.delete-button:hover {
  color: #ff0000;
  -webkit-box-shadow: 0 0 0 .05em #730E15;
  -moz-box-shadow: 0 0 0 .05em #730E15;
  box-shadow: 0 0 0 .05em #730E15;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.description {
  padding-top: 20px;
  text-align: justify;
}

.field_with_errors input,
.field_with_errors textarea {
  outline: 0;
  border: 1px solid #ff0000;
}

.list-unstyled {
  line-height: 1.5;
  text-align: center;
}
.reg-name {
  max-width: 300px;
}

.col-sm-4 {
  width: 34.83333333%;
}

.col-sm-5 {
  width: 42.96666667%;
}

.current-campaigns {
  border: 1px solid #000000;
  margin: 10px 10px;
  max-width: 350px;
  -webkit-box-shadow: 0 0 .3em .1em #333333;
  -moz-box-shadow: 0 0 .3em .1em #333333;
  box-shadow: 0 0 .3em .1em #333333;
}

.needs {
  float: right;
  margin-top: 5px;
}

.campaign-title {
  min-height: 40px;
}

.campaign-description {
  height: 67px;
  overflow-y: hidden;
}

.pad-right {
  margin: 10px 10px;
  max-width: 350px;
  text-align: right;
}
.no-campaigns {
  font-size: 1.3em;
}