@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-social";

body {
  background: #fff;
  line-height: 1.5;
  color: #333;
}

.container {
  min-height: 100%;
}

.nav-link {
  text-transform: uppercase;
  font-size: .9em;
}

a {
  text-decoration: none;
  color: #2C6700;
}

a:hover {
  color: #92CD00;
}

.alert,
.alert-js {
  font-size: 1.12em;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.alert {
  background: #FCF2F3;
  border: 1px solid #e5e36a;
}

.flash {
  position: fixed;
  -moz-opacity: 0.8;          /* Netscape */
  -khtml-opacity: 0.8;        /* Safari 1.x */
  opacity: 0.8;
  width: 100%;
  z-index: 9999;
}

.ra-success {
  color: #00B825;
}

.ra-error {
  color: #ff0000;
}

.campaign-support {
  font-size: .8em;
  color: #ff0000;
  font-style: italic;
}

.btn {
  text-transform: none;
}

.btn {
  text-transform: none;
  margin: 0;
}

.btn-support {
  padding: 12px 50px;
  font-size: 1.3em;
}

.nav-head {
  font-size: 1.5em;
}

h1 {
  margin-bottom: 40px;
}

.login-btn {
  background-color: #DD4B39;
  color: #ffffff;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none !important;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  line-height: 1.5;
  padding: 6px 12px 6px 44px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.login-btn:hover {
  background-color: #c23321;

}

.g-btn {
  max-width: 70%;
  text-decoration: none;
}

.restricted p {
  font-size: 1.3em;
}

.restricted a {
  margin: 20px auto;
  font-size: .8em;
}

.restricted a:hover {
  text-decoration: none;
}

/* NEW CAMPAIGN FORM */

.form-horizontal {
  line-height: 1.2;
}

.text-field,
.text-area {
  margin-bottom: .5em;
  outline: 0;
  border: 1px solid #999;
}

.text-field:active,
.text-area:active,
.text-field:focus,
.text-area:focus {
  outline: 0;
  border: 1px solid #000;
  background-color: #F7F7F7;
}

.text-field:hover,
.text-area:hover {
  border: 1px solid #730E15;
}

.text-area {
  min-height: 300px;
  margin-bottom: 1em;
  resize: vertical;
}

.submit-button {
  font-size: 1.5em;
  padding: .6em;
  margin-top: 30px;
}

.submit-button:hover {
  -webkit-box-shadow: 0 0 0 .05em #730E15;
  -moz-box-shadow: 0 0 0 .05em #730E15;
  box-shadow: 0 0 0 .05em #730E15;
}

.delete-button {
  font-size: 1.5em;
  padding: .6em;
  margin-top: 30px;
}

.delete-button:hover {
  color: #ff0000;
  -webkit-box-shadow: 0 0 0 .05em #730E15;
  -moz-box-shadow: 0 0 0 .05em #730E15;
  box-shadow: 0 0 0 .05em #730E15;
}

.video-container {
  float: right;
  clear: right;
  margin-top: 30px;
}

.description {
  padding-top: 20px;
  text-align: justify;
  float: left;
}

.field_with_errors input,
.field_with_errors textarea {
  outline: 0;
  border: 1px solid #ff0000;
}

.list-unstyled {
  line-height: 1.5;
  text-align: center;
}
.reg-name {
  max-width: 300px;
}

.col-sm-4 {
  width: 34.83333333%;
}

.col-sm-5 {
  width: 42.96666667%;
}

.campaign-block {
  margin-bottom: 70px;
  padding: 10px 25px;
  border-radius: .5em;
  background-color: #f4f4f4;
}

.current-campaigns {
  border: 1px solid #888888;
  border-radius: .4em;
  margin: 10px 10px;
  max-width: 350px;
  padding: 0;
  background-color: #ffffff;
}

.current-campaigns-inside {
  padding-left: 15px;
  padding-right: 15px;
}

.needs {
  float: right;
  margin-top: 5px;
}

.campaign-title {
  min-height: 40px;
}

.campaign-description {
  height: 67px;
  overflow-y: hidden;
}

.pad-right {
  margin: 10px 10px;
  max-width: 350px;
  text-align: right;
}
.no-campaigns {
  font-size: 1.3em;
}

.support-contain {
  float: right;
  margin-top: 10px;
  margin-right: 100px;
}

#backers {
  clear: both;
  margin-top: 50px;
  padding-top: 50px;
}

.funded-header {
  margin-top: 80px;
}

.funded-text {
  font-size: 1.3em;
}

.andonation-tables {
  margin-top: 60px;
}

.ando-nav {
  margin-top: 10px;
}

.table-nav {
  margin-bottom: 15px;
}

footer {
  font-size: 1.2em;
  color: #E5E4D7;
  margin-top: 50px;
  padding: 30px 0;
  background-color: #000000;
  opacity: .8;
}

footer p {
  margin: 0;
}

footer p a {
  color: #00B825;
}