@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-social";

body {
  background: #fff;
  line-height: 1.5;
  color: #333;
  padding-top: 60px;
}

.alert,
.alert-js {
  font-size: 1.12em;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.alert {
  background: #FCF2F3;
  border-radius: .5em;
  border: 1px solid #730E15;
}

.flash {
  position: fixed;
  -moz-opacity: 0.5;          /* Netscape */
  -khtml-opacity: 0.5;        /* Safari 1.x */
  opacity: 0.7;
  width: 100%;
  z-index: 9999;
}

.ra-success {
  color: #00B825;
}

.ra-error {
  color: #ff0000;
}

.campaign-support {
  font-size: .8em;
  color: #ff0000;
  font-style: italic;
}

.g-btn {
  max-width: 80%;
  margin: 20px auto;
  text-decoration: none;
}

.btn {
  text-transform: none;
}

.nav-head {
  font-size: 1.5em;
}

.nav-link {
  text-decoration: underline;
}

h1 {
  margin-bottom: 40px;
}

/* NEW CAMPAIGN FORM */

.form-horizontal {
  line-height: 1.2;
}

.text-field,
.text-area {
  margin-bottom: .5em;
  outline: 0;
  border: 1px solid #999;
}

.text-field:active,
.text-area:active,
.text-field:focus,
.text-area:focus {
  outline: 0;
  border: 1px solid #000;
  background-color: #F7F7F7;
}

.text-field:hover,
.text-area:hover {
  border: 1px solid #730E15;
}

.text-area {
  min-height: 300px;
  margin-bottom: 1em;
  resize: vertical;
}

.submit-button {
  font-size: 1.5em;
  padding: .6em;
  margin-top: 30px;
}

.submit-button:hover {
  -webkit-box-shadow: 0 0 0 .05em #730E15;
  -moz-box-shadow: 0 0 0 .05em #730E15;
  box-shadow: 0 0 0 .05em #730E15;
}

.delete-button {
  font-size: 1.5em;
  padding: .6em;
  margin-top: 30px;
}

.delete-button:hover {
  color: #ff0000;
  -webkit-box-shadow: 0 0 0 .05em #730E15;
  -moz-box-shadow: 0 0 0 .05em #730E15;
  box-shadow: 0 0 0 .05em #730E15;
}

.video-container {
  float: right;
  clear: right;
  margin-top: 30px;
}

.description {
  padding-top: 20px;
  text-align: justify;
  float: left;
}

.field_with_errors input,
.field_with_errors textarea {
  outline: 0;
  border: 1px solid #ff0000;
}

.list-unstyled {
  line-height: 1.5;
  text-align: center;
}
.reg-name {
  max-width: 300px;
}

.col-sm-4 {
  width: 34.83333333%;
}

.col-sm-5 {
  width: 42.96666667%;
}

.current-campaigns {
  border: 1px solid #000000;
  border-radius: .25em;
  margin: 10px 10px;
  max-width: 350px;
  -webkit-box-shadow: 0 0 .3em .1em #333333;
  -moz-box-shadow: 0 0 .3em .1em #333333;
  box-shadow: 0 0 .1em .05em #333333;
  padding: 0;
}

.current-campaigns-inside {
  padding-left: 15px;
  padding-right: 15px;
}

.needs {
  float: right;
  margin-top: 5px;
}

.campaign-title {
  min-height: 40px;
}

.campaign-description {
  height: 67px;
  overflow-y: hidden;
}

.pad-right {
  margin: 10px 10px;
  max-width: 350px;
  text-align: right;
}
.no-campaigns {
  font-size: 1.3em;
}

.support-contain {
  float: right;
  margin-top: 10px;
  margin-right: 100px;
}

#backers {
  clear: both;
  margin-top: 50px;
  padding-top: 50px;
}

.funded-header {
  margin-top: 80px;
}

.funded-text {
  font-size: 1.3em;
}

.andonation-tables {
  margin-top: 60px;
}